{% extends 'base.html' %}
{% load static %}
{% block title %}Featured{% endblock %}
{% block content %}

<body>
    <!-- featured-products section start -->
<section style="background-color: #ffffff" class="single-products  products-two section-padding extra-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <h2 style="color: #0c0c0c;">Featured Products</h2>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <ul class="load-list load-list-one">
                <li>
                    <div class="row text-center">
                        {% for product in products %}
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="single-product" style="border-radius: 15px; overflow: hidden;">
                                <div class="product-img" >
                                    <div class="pro-type"></div>
                                    <a href="#"><img style="width:100%; height:350px" src="{{ product.image.url }}" alt="Product Title" /></a>
                                    <div class="actions-btn">
                                        <a href="{% url 'cart:add_cart' product.id %}"><i class="mdi mdi-cart"></i></a>
                                        <a href="{{product.get_product_details_url}}"><i class="mdi mdi-eye"></i></a>
                                        
                                    </div>
                                </div>
                                <div style="background-color: #034d15;"class="product-dsc">
                                    <p><a style="color: #f4cca4;" href="#">{{ product.name }}</a></p>
                                    <span style="color: #f4cca4;">Ksh {{ product.price }}</span>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p>No featured products available</p>
                        {% endfor %}
                        
                    </div>
                </li>
            </ul><br>
            
        </div>
    </div>
</section><br><br>
<!-- featured-products section end -->
</body>

{% endblock content %}



