{% extends 'base.html' %}
{% load static %}
{% block title %}Shop{% endblock %}
{% block content %}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
	<h1 class="text-center text-white display-6 wow fadeInUp" data-wow-delay="0.1s">Shop Page</h1>
	<ol class="breadcrumb justify-content-center mb-0 wow fadeInUp" data-wow-delay="0.3s">
		<li class="breadcrumb-item"><a href="#">Home</a></li>
		<li class="breadcrumb-item"><a href="#">Pages</a></li>
		<li class="breadcrumb-item active text-white">Shop</li>
	</ol>
</div>
<!-- Single Page Header End -->








<div class="container-fluid shop py-5">
    <div class="container py-5">
        <div class="row g-4">
            <div class="col-lg-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="product-categories mb-4">
                    <h4>Product Categories</h4>
                    <ul class="list-unstyled">
                        <li>
                            <div class="categories-item">
                                <a href="{% url 'shop:shop' %}" class="text-dark"><i class="fas fa-list  me-2"></i>All</a>
                            </div>
                        </li>
                        {% for category in categories %}
                        <li>
                            <div class="categories-item">
                                <a href="{{ category.get_category_slug_url }}" class="text-dark"><i class="fas fa-tag me-2"></i>{{ category.name }}</a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
				<div class="featured-product mb-4">
                    <h4 class="mb-3">Featured Products</h4>
                    {% for product in featured_products|slice:":3" %}
                    <div class="featured-product-item">
                        <div class="rounded me-4" style="width: 100px; height: 100px;">
                            <img style="width: 86px; height: 69px; object-fit: cover;" src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
                        </div>
                        <div>
                            <h6 class="mb-2">{{ product.name }}</h6>
                            <div class="d-flex mb-2">
                                <h5 class="fw-bold me-2">Ksh {{ product.price }}</h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="d-flex justify-content-center my-4">
                        <a href="{% url 'shop:featured_products' %}" class="btn btn-primary px-4 py-3 rounded-pill w-100">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-4">
                    <div class="col-md-4 col-lg-6 text-center">
                        <div class="position-relative ps-4">
                            <div class="d-flex border rounded-pill">
                                <form id="searchh" action="{% url 'shop:search' %}" method="GET" class="w-100 d-flex">
                                    <input class="form-control border-0 rounded-pill w-100 py-3" type="text" name="keyword" placeholder="Search Products">
                                    <button type="submit" class="btn btn-primary rounded-pill py-3 px-5" style="border: 0;">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-lg-4 col-xl-2">
                        <ul class="nav nav-pills d-inline-flex text-center py-2 px-2 rounded bg-light mb-4">
                            <li class="nav-item me-4">
                                <a class="bg-light" data-bs-toggle="pill" href="#tab-5">
                                    <i class="fas fa-th fa-3x text-primary"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="bg-light" data-bs-toggle="pill" href="#tab-6">
                                    <i class="fas fa-bars fa-3x text-primary"></i>
                                </a>
                            </li>
                        </ul>
                    </div>-->
                    <div class="col-12">
                        <div class="text-end mb-4">
                            <span class="text-primary fs-5">{{ products_count }} Results</span>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="tab-5" class="tab-pane fade show p-0 active">
                        <div class="row g-4 product">
                            {% for product in products %}
                            <div class="col-lg-4">
                                <div class="product-item rounded wow fadeInUp" data-wow-delay="0.1s">
                                    <div class="product-item-inner border rounded" style="max-width: 270px; height: auto; ">
                                        <div class="product-item-inner-item" >
                                            <a href="{{ product.get_product_details_url }}">
                                                <img src="{{ product.image.url }}" class="img-fluid w-100 rounded-top" alt="{{ product.name }}">
                                            </a>
                                            {% if product.new %}
                                            <div class="product-new">New</div>
                                            {% endif %}
                                            {% if product.discount != 0.00 %}
                                            <div class="product-new" style="background: #d99879;">Discount</div>
                                            {% endif %}
                                            
                                        </div>
                                        <div class="text-center rounded-bottom p-4">
                                            <a href="{{ product.get_product_details_url }}" class="d-block mb-2">{{ product.category.name }}</a>
                                            <a href="{{ product.get_product_details_url }}" class="d-block h4">{{ product.name }}</a>
                                            {% if product.discount != 0.00 %}
                                            <del class="me-2 fs-5">Ksh {{ product.discount }}</del>
                                            {% endif %}
                                            <span class="text-primary fs-5">Ksh {{ product.price }}</span>
                                        </div>
                                    </div>
                                    <div class="product-item-add border border-top-0 rounded-bottom text-center p-4 pt-0">
                                        <a href="{% url 'cart:add_cart' product.id %}" 
                                            class="btn btn-primary border-secondary rounded-pill py-2 px-4 mb-4" 
                                            onclick="return showCartPopup()">
                                                <i class="fas fa-shopping-cart me-2"></i> Add To Cart
                                        </a>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="d-flex">
                                                <i class="fas fa-star{% if product.averageRating < 0.5 %} text-muted{% elif product.averageRating >= 0.5 and product.averageRating < 1 %} text-primary half-star{% else %} text-primary{% endif %}"></i>
                                                <i class="fas fa-star{% if product.averageRating < 1.5 %} text-muted{% elif product.averageRating >= 1.5 and product.averageRating < 2 %} text-primary half-star{% else %} text-primary{% endif %}"></i>
                                                <i class="fas fa-star{% if product.averageRating < 2.5 %} text-muted{% elif product.averageRating >= 2.5 and product.averageRating < 3 %} text-primary half-star{% else %} text-primary{% endif %}"></i>
                                                <i class="fas fa-star{% if product.averageRating < 3.5 %} text-muted{% elif product.averageRating >= 3.5 and product.averageRating < 4 %} text-primary half-star{% else %} text-primary{% endif %}"></i>
                                                <i class="fas fa-star{% if product.averageRating < 4.5 %} text-muted{% elif product.averageRating >= 4.5 and product.averageRating < 5 %} text-primary half-star{% else %} text-primary{% endif %}"></i>
                                                <span class="ms-2">({{ product.countReview }} reviews)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                                {% if products.has_other_pages %}
                                <div class="pagination d-flex justify-content-center mt-5">
                                    {% if products.has_previous %}
                                    <a href="?page={{ products.previous_page_number }}" class="rounded">&laquo;</a>
                                    {% else %}
                                    <a href="#" class="rounded disabled">&laquo;</a>
                                    {% endif %}
                                    {% for x in products.paginator.page_range %}
                                    <a href="?page={{ x }}" class="{% if products.number == x %}active {% endif %}rounded">{{ x }}</a>
                                    {% endfor %}
                                    {% if products.has_next %}
                                    <a href="?page={{ products.next_page_number }}" class="rounded">&raquo;</a>
                                    {% else %}
                                    <a href="#" class="rounded disabled">&raquo;</a>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div id="tab-6" class="products tab-pane fade show p-0">
                        <div class="row g-4 products-mini">
                            {% for product in products %}
                            <div class="col-lg-6">
                                <div class="products-mini-item border">
                                    <div class="row g-0">
                                        <div class="col-5">
                                            <div class="products-mini-img border-end h-100">
                                                <img src="{{ product.image.url }}" class="img-fluid w-100 h-100" alt="{{ product.name }}">
                                                {% if product.new %}
                                                <div class="products-mini-icon rounded-circle bg-primary">
                                                    <span style="font-size: 12px; color: white;">New</span>
                                                </div>
                                                {% endif %}
                                                {% if product.discount != 0.00 %}
                                                <div class="products-mini-icon rounded-circle bg-primary" style="background: #d99879;">
                                                    <span style="font-size: 12px; color: white;">Discount</span>
                                                </div>
                                                {% endif %}
                                                
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div class="products-mini-content p-3">
                                                <a href="{{ product.get_product_details_url }}" class="d-block mb-2">{{ product.category.name }}</a>
                                                <a href="{{ product.get_product_details_url }}" class="d-block h4">{{ product.name }}</a>
                                                {% if product.discount != 0.00 %}
                                                <del class="me-2 fs-5">Ksh {{ product.discount }}</del>
                                                {% endif %}
                                                <span class="text-primary fs-5">Ksh {{ product.price }}</span>
                                                <p>{{ product.description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products-mini-add border p-3">
                                        <a href="{% url 'cart:add_cart' product.id %}" class="btn btn-primary border-secondary rounded-pill py-2 px-4"><i class="fas fa-shopping-cart me-2"></i> Add To Cart</a>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="d-flex">
                                                <i class="fas fa-star{% if product.averageRating < 0.5 %} text-muted{% elif product.averageRating >= 0.5 and product.averageRating < 1 %} text-primary half-star{% else %} text-primary{% endif %}"></i>
                                                <i class="fas fa-star{% if product.averageRating < 1.5 %} text-muted{% elif product.averageRating >= 1.5 and product.averageRating < 2 %} text-primary half-star{% else %} text-primary{% endif %}"></i>
                                                <i class="fas fa-star{% if product.averageRating < 2.5 %} text-muted{% elif product.averageRating >= 2.5 and product.averageRating < 3 %} text-primary half-star{% else %} text-primary{% endif %}"></i>
                                                <i class="fas fa-star{% if product.averageRating < 3.5 %} text-muted{% elif product.averageRating >= 3.5 and product.averageRating < 4 %} text-primary half-star{% else %} text-primary{% endif %}"></i>
                                                <i class="fas fa-star{% if product.averageRating < 4.5 %} text-muted{% elif product.averageRating >= 4.5 and product.averageRating < 5 %} text-primary half-star{% else %} text-primary{% endif %}"></i>
                                                <span class="ms-2">({{ product.countReview }} reviews)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                                {% if products.has_other_pages %}
                                <div class="pagination d-flex justify-content-center mt-5">
                                    {% if products.has_previous %}
                                    <a href="?page={{ products.previous_page_number }}" class="rounded">&laquo;</a>
                                    {% else %}
                                    <a href="#" class="rounded disabled">&laquo;</a>
                                    {% endif %}
                                    {% for x in products.paginator.page_range %}
                                    <a href="?page={{ x }}" class="{% if products.number == x %}active {% endif %}rounded">{{ x }}</a>
                                    {% endfor %}
                                    {% if products.has_next %}
                                    <a href="?page={{ products.next_page_number }}" class="rounded">&raquo;</a>
                                    {% else %}
                                    <a href="#" class="rounded disabled">&raquo;</a>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Page End -->



{% endblock content %}


