{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block content %}

<br><br><br>


<div class="container">
    <div class="row gy-4 gx-5">
        <div class="col-lg-6 position-relative ">
            <img src="{% static 'img/coverjpg.jpg' %}" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 content">
            <center><h3 style="color: black;">About Us</h3></center>

        <p style="font-size:large; color: #0c0c0c" > Welcome to E-shop, your online supplier that deals in a variety of products ranging from
        shoes, art products, eco-friendly products, watches, backpacks, books. We guarantee you quality products and timely shipping to your county, making sure
            customer satidfaction is our priority. Shop with us today to enjoy quality service like no other. </p>

        </div>
    </div>
</div>
<br><br><br><br>
{% endblock %}


