{% extends '../../../base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}

<div  class="pages-title section-padding">
    <div  class="container">
        <div  style="background:#ffffff" class="row">
            <div class="col-xs-12">
                <div class="pages-title-text text-center">
                    <h2 style="color:#0c0c0c">dashboard</h2>
                    <ul class="text-left">
                        <li><a style="color:#0c0c0c" href="\">Home </a></li>
                        <li style="color:#0c0c0c"><span> // </span>Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section style="background:#EDEADE" class="section-conten padding-y bg">
    <br><br>
    <div class="container">
        <div class="row">
            <span class="font-size:18px"><b> {% include "includes/alerts.html" %} </b></span>
            {% include "includes/dashboard_slider.html" %}
        
            <main style="background:#ffffff; color: #0c0c0c; border-radius:10px" class="col-md-9">
                <article class="card">
                <br>
                <header class="card-header text-center">
                    <span style="font-size:20px" class="d-inline-block">Logged in as :</span>
                    <strong style="font-size:20px">{{user.full_name | title}}</strong>
                </header>
                <hr>
                <div class="card-body">
                    <div  class="row">
                        <div class="col-md-6">
                            <div  class="card" style="text-align:center; background:#EDEADE;border-radius:7px;margin-bottom:10px">
                            
                                <div style="font-size:18px;padding:10px" class="card-body">
                                    <img src="{{profile.profile_picture.url}}" alt="Profile Picture" width="100" style="border-radius:50px;">
                                    <br>
                                    <br>
                                    <p style="font-size:16px;" class="mb-0"><span style="float:left; color: #0c0c0c;"><b>User Name :</b></span> <span style="float:right; color: #0c0c0c;">{{user.username}}</span></p><br><hr>
                                    <p style="font-size:16px;" class="mb-0"><span style="float:left; color: #0c0c0c;"><b>Email :</b></span> <span style="float:right; color: #0c0c0c;">{{user.email}}</span></p><br><hr>
                                    <p style="font-size:16px;" class="mb-0"><span style="float:left; color: #0c0c0c;"><b>Phone Number :</b></span> <span style="float:right; color: #0c0c0c;">{{user.Phone_number}}</span></p><br><hr>
                                    
                                    {% if profile.address %}
                                    <p style="font-size:16px;" class="mb-0"><span style="float:left"><b>Address :</b></span> <span style="float:right">{{profile.address}}</span></p><br><hr>
                                    {% endif %}
                                    
                                    {% if profile.county %}
                                    <p style="font-size:16px;" class="mb-0"><span style="float:left"><b>County :</b></span> <span style="float:right">{{profile.county}}</span></p><br><hr>
                                    {% endif %}

                                    
                                    
                                </div>
                            </div>
                        </div>
                        <div  class="col-md-6">
                            <div  class="card" style="text-align:center;">
                                <div style="background:#EDEADE;border-radius:7px;padding:10px;height:150px" style="font-size:18px" class="card-body">
                                    <h5 style="margin-top:30px;font-size:23px" class="card-title">Total Orders</h5>
                                    <h4 style="font-size:25px">{{orders_count}}</h4>
                                    
                                </div>
                            </div>
                        </div><br>
                    </div>
                </div>
                </article>
            </main>
        </div>
    </div><br>
</section>
<br><br>

<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}